@using AMH.Common;
@using AMHAdmin.Pages;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Forgot Password";
  //  Layout = null;
}

@Html.AntiForgeryToken()
<!doctype html>
<html lang="en">


<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:21:05 GMT -->
<head>
    <title>AMH | Reset Password</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
    <title>Agric - Machienary and Health</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/logo.png">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/circle.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/them.css">
    @*<link href="~/assets/css/sweetalert.css" rel="stylesheet">*@
    <style>
        .error {
            color: red !important;
            margin-bottom: 0px;
        }
    </style>
</head>

<body class="theme-blue">
    <div class="main-wrapper">
        <div class="page-content change-password-col">
            <div class="list no-hairlines custom-form">
                <div class="back-btn">
                    <a href="@Url.Action("Index","Home")" class="back link">
                        <img src="~/assets/img/left-arrow-big-black.svg" alt="">
                    </a>
                </div>
                <div class="register-icon">
                    <img src="~/assets/img/Tantulogo.png" style="height: 20% !important; background-color: transparent;">
                </div>
                <div class="logo">
                    <a href="@Url.Action("Index","Home")"></a>
                </div>
                <div>

                    <h2 style="text-align:center">
                        Reset password
                    </h2>
                </div>
                <div class="body ShowResetForm">
                    <h5 style="text-align:center;color:red;" id="wrgMsg"></h5>
                    <div class="form-auth-small">
                        <form id="frmCustomerResetPassword" method="post" autocomplete="off">
                            <ul class="change-list">
                                <li class="item-content item-input">
                                    <div class="item-col">
                                        <div class="item-title item-label">Password</div>
                                        <div class="item-input-wrap">
                                            <input type="password" id="NewPassword" name="NewPassword" placeholder="Enter here" autocomplete="new-password">
                                            <div class="item-input-icon"><img src="~/assets/img/lock-icon.svg" alt=""></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content item-input">
                                    <div class="item-col">
                                        <div class="item-title item-label">Confirm password</div>
                                        <div class="item-input-wrap">
                                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter here" autocomplete="new-password">
                                            <div class="item-input-icon"><img src="~/assets/img/lock-icon.svg" alt=""></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content item-input">
                                    <div class="item-col">
                                        <button type="submit" id="saveBtn" class="btn btn-submit">
                                            Reset Password
                                        </button>
                                        <button type="submit" id="loading" class="btn btn-submit" disabled style="display:none;">
                                            <div class="d-flex align-items-center justify-content-center">
                                                Verifying...
                                                <div class="spinner-border text-light" style="margin-left: 5px !important;" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </li>
                            </ul>

                        </form>
                    </div>
                </div>
                <div class="body" id="hideResetForm">
                    <div class="card-body py-5">
                        <div class="text-center">
                            <h4 class="fw-bold">Reset Link Expired</h4>
                        </div>
                        <div class="col-xl-12">
                            <a href="@Url.Action("Signin","Authentication")" class="mb-2 btn Gbutton w-100">Back To Sign In</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @*<script src="~/assets/js/sweetalert.js"></script>*@
<script>
        $(document).ready(() => {
            var rid = 0;
            var parts = location.href.split('/');
            if (location.pathname.indexOf('ResetPassword')) {
                rid = parts.pop();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.Check_ResetLink, Controllers.Account)',
                    //data: ({ PatientId: atob(rid) }),
                    dataType: 'json',
                    async: false,
                    success: function (response) {
                        if (response == true) {
                            $('.ShowResetForm').show();
                            $('#hideResetForm').hide();

                            $("#frmCustomerResetPassword").validate({
                                rules: {
                                    NewPassword: {
                                        required: true,
                                        minlength: 8,
                                        hasdegit: true,
                                        hasUppercase: true
                                    },
                                    ConfirmPassword: {
                                        required: true,
                                        equalTo: "#NewPassword"
                                    },
                                },
                                messages: {
                                    NewPassword: {
                                        required: "Please enter new password.",
                                        minlength: "Please enter atleast 8 characters",
                                        hasdegit: "Please enter atleast one number",
                                        hasUppercase: "Please enter atleast one uppercase character"
                                    },
                                    ConfirmPassword: {
                                        required: "Please enter confirm password.",
                                        equalTo: "Confirm password does not match new passoword"
                                    },
                                },

                                errorPlacement: function (error, element) {
                                    if (element.is(":radio")) {
                                        error.appendTo(element.parents(".form-group"));
                                    } else {    
                                        // This is the default behavior
                                        error.insertAfter(element);
                                    }
                                },

                                submitHandler: function (form) {
                                    $("#saveBtn").hide();
                                    $("#loading").show();
                                    var uid = 1;
                                     uid = @ViewBag.UID;
                                    $.ajax({
                                        type: "POST",
                                        url: '@Url.Action(Actions.ResetPassword, Controllers.Authentication)',
                                        data: ({ NewPassword: $("#NewPassword").val(), ConfirmPassword: $("#ConfirmPassword").val(), Admin_Id: uid }),
                                        dataType: 'json',
                                        async: false,
                                        success: function (response) {
                                            if (response == true) {
                                                Swal.fire({
                                                    title: "Success",
                                                    text: "Password saved successfully",
                                                    icon: "success",
                                                    timer: 3000
                                                })
                                                setTimeout(
                                                    function () {
                                                        window.location.href = "/Authontication/SignIn"
                                                }, 3000)
                                            } else {
                                                Swal.fire({
                                                    title: "warning",
                                                    text: "Password saved successfully",
                                                    icon: "warning",
                                                    timer: 1000
                                                })
                                            }
                                        },
                                        error: function (response) {
                                            $("#saveBtn").show();
                                            $("#loading").hide();
                                        }
                                    });
                                }
                            });
                            $.validator.addMethod("alphadigit", function (value, element) {
                                return this.optional(element) || value == value.match(/^[0-9a-zA-Z\s]+$/);
                            });
                            var regex2 = /[A-Z]/
                            $.validator.addMethod("hasUppercase", function (value) {
                                return regex2.test(value)
                            });
                            var regex3 = /[0-9]/
                            $.validator.addMethod("hasdegit", function (value) {
                                return regex3.test(value)
                            });


                        } else {
                            $('.ShowResetForm').hide();
                            $('#hideResetForm').show();
                        }
                    },
                    error: function (response) {
                        $("#saveBtn").show();
                        $("#loading").hide();
                    }
                });
            }
        });
</script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/datatable.js"></script>
    <script src="~/assets/validation/js/datatables.min.js"></script>
    <script src="~/assets/validation/js/datatables.bootstrap.js"></script>
    <script src="~/assets/validation/js/select2.full.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/table-datatables-buttons.min.js"></script>
    <script src="~/assets/validation/js/components-bootstrap-switch.min.js"></script>
    <script src="~/assets/validation/js/components-select2.min.js"></script>
    <script src="~/assets/validation/js/moment.min.js"></script>
    <script src="~/assets/validation/js/moment-with-locales.min.js"></script>
    <script src="~/assets/validation/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/validation/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/validation/js/layout.min.js"></script>
    <script src="~/assets/validation/js/demo.min.js"></script>
    <script src="~/assets/validation/js/quick-sidebar.min.js"></script>
    <script src="~/assets/validation/js/quick-nav.min.js"></script>
    <script src="~/assets/validation/js/common.js"></script>
</body>
</html>