@using AMH.Common;
@using AMHAdmin.Pages;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
}

@Html.AntiForgeryToken()
<!doctype html>
<html lang="en">


<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:21:05 GMT -->
<head>
    <title>AMH | Reset Password</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
    <title>Agric - Machienary and Health</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/logo.png">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/circle.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/them.css">

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/dropify/css/dropify.min.css">
    <!-- MAIN CSS -->
    <link href="~/assets/vendor/css/main.css" rel="stylesheet" />
    <link href="~/assets/vendor/css/color_skins.css" rel="stylesheet" />
    <script src="~/assets/validation/js/jquery.min.js"></script>
    <script src="~/assets/validation/js/bootstrap.min.js"></script>
    <script src="~/assets/validation/js/jquery.blockui.min.js"></script>
    <style>
        .error {
            color: red !important;
            margin-bottom: 0px;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">

                    <div class="card" @*style="margin-left:500px; margin-top:120px; margin-right:500px"*@>
                        <div class="header" style="text-align:center !important;">
                            <img src="~/assets/images/logo/logo.png" alt="Agric - Machinery and Health Admin Logo" height="150px" class="img-responsive logo or_logo mobile_logo mb-2">

                            <p class="lead">Reset Password</p>
                        </div>
                        <div class="body">
                            <h5 style="text-align:center;color:red;" id="wrgMsg"></h5>
                            <div class="form-auth-small">
                                <form method="post" id="frmCustomerResetPassword" action="" class="text-left" role="form">

                                    <div class="form-group" @*style="margin-left:40px; margin-right:40px"*@>
                                        <label for="UserNamee"><b>Password</b></label><br />
                                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Enter here" autocomplete="new-password">
                                    </div>

                                    <div class="form-group" @*style="margin-left:40px; margin-right:40px"*@>
                                        <label for="UserName"><b>Confirm password</b></label><br />
                                        <input type="password" id="ConfirmPassword" class="form-control" name="ConfirmPassword" placeholder="Enter here" autocomplete="new-password">
                                    </div>
                                    <br />
                                    <div class="col-12 mt-20 text-md-right">
                                        <a href="@Url.Action("Signin","Authentication")" style="color: #28a745; margin-right:100px;" class="mb-2">Back To Sign In</a>
                                    </div>
                                    <button type="submit" id="saveBtn" class="btn btn-success btn-lg btn-block" @*style="margin-left:180px; width:35%; "*@>Reset Password</button>
                                    @*<br />*@
                                    <button type="submit" id="loading" class="btn btn-submit" disabled style="display:none;">
                                        <div class="btn btn-success btn-lg btn-block loading">
                                            Verifying...
                                            <div class="spinner-border text-light" style="margin-left: 5px !important;" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/script.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@*<script src="~/assets/js/sweetalert.js"></script>*@
<script>
        $(document).ready(() => {
            var rid = 0;
            var parts = location.href.split('/');
            if (location.pathname.indexOf('ResetPassword')) {
                rid = parts.pop();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.Check_ResetLink, Controllers.Authentication)',
                    //data: ({ PatientId: atob(rid) }),
                    dataType: 'json',
                    async: false,
                    success: function (response) {
                        if (response == true) {
                            $('.ShowResetForm').show();
                            //$('#hideResetForm').hide();

                            $("#frmCustomerResetPassword").validate({
                                rules: {
                                    NewPassword: {
                                        required: true,
                                        minlength: 8,
                                        hasdegit: true,
                                        hasUppercase: true
                                    },
                                    ConfirmPassword: {
                                        required: true,
                                        equalTo: "#NewPassword"
                                    },
                                },
                                messages: {
                                    NewPassword: {
                                        required: "Please enter new password.",
                                        minlength: "Please enter atleast 8 characters",
                                        hasdegit: "Please enter atleast one number",
                                        hasUppercase: "Please enter atleast one uppercase character"
                                    },
                                    ConfirmPassword: {
                                        required: "Please enter confirm password.",
                                        equalTo: "Confirm password does not match new passoword"
                                    },
                                },

                                errorPlacement: function (error, element) {
                                    if (element.is(":radio")) {
                                        error.appendTo(element.parents(".form-group"));
                                    } else {
                                        // This is the default behavior
                                        error.insertAfter(element);
                                    }
                                },

                                submitHandler: function (form) {
                                    $("#saveBtn").hide();
                                    $("#loading").show();
                                    var uid = 1;
                                     uid = @ViewBag.AID;
                                    $.ajax({
                                        type: "POST",
                                        url: '@Url.Action(Actions.ResetPassword, Controllers.Authentication)',
                                        data: ({ NewPassword: $("#NewPassword").val(), ConfirmPassword: $("#ConfirmPassword").val(), Admin_Id: uid }),
                                        dataType: 'json',
                                        async: false,
                                        success: function (response) {
                                            if (response == true) {
                                                Swal.fire({
                                                    title: "Success",
                                                    text: "Password saved successfully",
                                                    icon: "success",
                                                    timer: 3000
                                                })
                                                setTimeout(
                                                    function () {
                                                        window.location.href = "/Authontication/SignIn"
                                                }, 3000)
                                            } else {
                                                Swal.fire({
                                                    title: "warning",
                                                    text: "Password saved successfully",
                                                    icon: "warning",
                                                    timer: 1000
                                                })
                                            }
                                        },
                                        error: function (response) {
                                            $("#saveBtn").show();
                                            $("#loading").hide();
                                        }
                                    });
                                }
                            });
                            $.validator.addMethod("alphadigit", function (value, element) {
                                return this.optional(element) || value == value.match(/^[0-9a-zA-Z\s]+$/);
                            });
                            var regex2 = /[A-Z]/
                            $.validator.addMethod("hasUppercase", function (value) {
                                return regex2.test(value)
                            });
                            var regex3 = /[0-9]/
                            $.validator.addMethod("hasdegit", function (value) {
                                return regex3.test(value)
                            });


                        } else {
                            $('.ShowResetForm').hide();
                            //$('#hideResetForm').show();
                        }
                    },
                    error: function (response) {
                        $("#saveBtn").show();
                        $("#loading").hide();
                    }
                });
            }
        });
</script>
<script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
<script src="~/assets/js/pages/forms/dropify.js"></script>
<script src="~/assets/validation/js/jquery-ui.min.js"></script>
<script src="~/assets/validation/js/select2.full.min.js"></script>
<script src="~/assets/validation/js/app.min.js"></script>
<script src="~/assets/validation/js/ui-modals.min.js"></script>
<script src="~/assets/validation/js/table-datatables-buttons.min.js"></script>
<script src="~/assets/validation/js/components-bootstrap-switch.min.js"></script>
<script src="~/assets/validation/js/components-select2.min.js"></script>
<script src="~/assets/validation/js/moment.min.js"></script>
<script src="~/assets/validation/js/moment-with-locales.min.js"></script>
<script src="~/assets/validation/js/jquery.validate.min.js"></script>
<script src="~/assets/validation/js/additional-methods.min.js"></script>
<script src="~/assets/validation/js/toastr.min.js"></script>
<script src="~/assets/validation/js/ui-toastr.min.js"></script>
<script src="~/assets/validation/js/layout.min.js"></script>
<script src="~/assets/validation/js/demo.min.js"></script>
<script src="~/assets/validation/js/quick-sidebar.min.js"></script>
<script src="~/assets/validation/js/quick-nav.min.js"></script>
<script src="~/assets/validation/js/common.js"></script>